.account-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 1.25rem;
    color: #c50e42;
}

.badge {
    margin: 5px !important;
    cursor: pointer !important;
    font-size: 1rem !important;
}

.badge.badge-selected {
    background-color: #c50e42 !important;

}

.badge.badge-unselected {
    background-color: #48494c !important;
}
