/* Modal Background */
.modal-content {
    background-color: var(--bg) !important;
    color: var(--text) !important;
    border: 2px solid var(--border);
    border-radius: 12px;
}

/* Modal Header */
.modal-header {
    border-bottom: 1px solid var(--border);
}

/* Modal Title */
.modal-title {
    color: var(--text);
}

/* Modal Close Button */
.btn-close {
    filter: brightness(0.3);
}

/* Form Fields search bar ???*/
.form-control {
    background-color: var(--bg) !important;
    color: var(--text) !important;
    border: 1px solid var(--border) !important;
    border-radius: 8px;
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--text) !important;
    opacity: 1;
}