.auth-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.auth-container .card {
    width: 100%;
    max-width: 750px;
    background-color: white;
    border: 2px solid #48494c;
}
  
.auth-button {
    background-color: #48494c !important;
    width: 100%
}
  
.auth-button:hover, 
.auth-button:active {
    background-color: #c50e42 !important;
}