/* Full Page Styling */
.sidepanel-container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* Default Side Panel */
.side-panel {
    width: 200px;
    height: 100vh;
    color: var(--hovertext);
    position: fixed;
    left: 0;
    top: 81px;
    padding-top: 20px;
    transition: transform 0.3s ease, width 0.3s ease;
    border-right: 1px solid var(--border);
    border-top: 1px solid  var(--border);
    background-color:  var(--lbg);
}

.side-panel.collapsed {
    width: 60px;
}

.side-panel.collapsed .menu-item span {
    display: none;
}

.side-panel.collapsed .menu-divider-line {
    width: 30px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    color: var(--text-color);
    max-width: 40vw !important;

}

.menu-divider-line {
    height: 1px;
    background-color: var(--text);
    width: 180px;
    margin: 10px auto;
    transition: width 0.3s ease;
}

.menu-item:hover {
    background-color: var(--hover);
    border-radius: 5px;
    color: var(--hovertext);
}

.menu-divider {
    margin: 15px 0;
    font-size: 0.9rem;
    color: var(--text);
    padding-left: 23px;
}

.icon {
    font-size: 1.2rem;
}

.sidepanel-container {
    display: flex;
    height: 100vh;
    background-color: var(--lbg);
}

.sidebar {
    width: 250px;
    background-color: var(--text)
}

.sidepanel-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
}

.content-wrapper {
    flex-grow: 1;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: calc(100vw - 200px);
    transition: margin-left 0.3s ease, width 0.3s ease;
}

.sidepanel-container .collapsed+.content-wrapper {
    margin-left: 60px;
    width: calc(100vw - 60px);
}

/* Hide side panel when screen width <= 770px */
@media (max-width: 770px) {
    .side-panel {
        display: none !important;
    }

    .content-wrapper {
        margin-left: 0 !important;
        width: 100vw !important;
    }
}