/* Full Page Styling */
.sidepanel-container {
    height: 100vh;
    width: 100vw; 
    display: flex;
}

/* Default Side Panel */
.side-panel {
    width: 200px;
    height: 100vh;
    color: white;
    position: fixed;
    left: 0;
    top: 81px;
    padding-top: 20px;
    transition: transform 0.3s ease, width 0.3s ease;
    border-right: 1px solid #48494c;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    color: white;
}

.menu-divider-line {
    height: 1px;
    background-color: #48494c;
    width: 180px;
    margin: 10px auto;
    transition: width 0.3s ease;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.menu-divider {
    margin: 15px 0;
    font-size: 0.9rem;
    color: #b3b3b3;
    padding-left: 23px;
}

.icon {
    font-size: 1.2rem;
}

.sidepanel-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px; /* Adjust width of the side panel */
    background-color: #3b0b24;
}

.sidepanel-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px; /* Adjust width of the side panel */
}

.content-wrapper {
    flex-grow: 1;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: calc(100vw - 200px);
}

/* Hide side panel when screen width <= 620px */
@media (max-width: 620px) {
    .side-panel {
        display: none;
    }

    .content-wrapper {
        margin-left: 0px;
        width: 100vw;
    }
}